<div class="container-fluid">        
    <div class="top-nav">
        <div class="row">
            <div class="col-md-2">
                <p class="name">Sandra Sasi<br>
                    Kochi<br>
                    Techie
                </p>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
               <h6  data-toggle="modal" data-target="#exampleModal3">contact</h6>
            </div>
        </div>
    </div>
</div>
